.wpintro_main{
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 20px 20px 20px 0;
    padding: 20px;
}

.wpintro_main input,select{
	width: 350px;
}

.wpintro_errors{
	background: #F9D8D8;
	padding: 10px 0;
}

.wpintro_errors p{
	color: #6C6A6A;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0;
}

.wpi_del_panel{
    float:left;
        width:10%;
        margin-top: 20px;
}

.wip_sort ul{
    float:left;
    width:90%;
    margin: 0;
}
.wpi_even{
    background: #eee;
}